:root {
  --header-background-color: white;
  --text-color: gray;
}
header {
  display: flex;
  background-color: var(--header-background-color);
}
.header-group {
  width: 100%;
  background-color: var(--header-background-color);
  margin-top: 20px;
  margin-bottom: 20px;
}
.header img {
  width: 400px;
  height: 400px;
}
.top-container {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
}

.top-container .title {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bolder;
  color: black;
}

button {
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 35%;
  height: 50px;
  background-color: rgb(76, 143, 245);
}
.bottom-container {
  display: block;
  margin-bottom: 10px;
}
